*, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: 'Poppins', sans-serif;
}





// MODIFICATORS

.flex--basic,
.flex--column {
  display: flex;
}

.flex--column {
  flex-direction: column;
}

.text--bold {
  font-weight: 600;
}

.text--small {
  font-weight: 400;
  color: #8a939b;
  font-size: 0.75rem;
}

.nav--link {
    font-weight: 600;
    color: #8a939b;
}

.nav--active {
  color: white;
  border-bottom: 2px white solid;
  padding-bottom: 0.5em;
}